<div class="jumbotron">
    <h1 class="display-4">Typescript app</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum placeat, a numquam ad pariatur
        vitae.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut amet culpa facere itaque animi exercitationem.
        Aliquam deleniti sint sapiente, fugit quam quidem pariatur qui fuga blanditiis, cumque, ipsam ullam quasi!
    </p>
    <a href="#" class="btn btn-primary btn-lg"> Task List</a>
</div>